@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap');

* {
  font-family: 'Poppins', sans-serif;
}

.nav-link.mb-3:not(.active) {
  color: rgb(107, 106, 106);
}

@media only screen and (max-width: 991px) {
  #hero {
    height: 40vh !important;
  }
}